<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-accessories-menu" label="Accessories">
		<item label="Gnome-Calculator">
			<action name="Execute">
				<command>gnome-calculator</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-editors-menu" label="Editors">
		<item label="Sublime Text 3">
			<action name="Execute">
				<command>subl3</command>
			</action>
		</item>
		<item label="GEdit">
			<action name="Execute">
				<command>gedit</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-term-menu" label="Terminals">
		<item label="Terminator">
			<action name="Execute">
				<command>terminator</command>
			</action>
		</item>
		<item label="Xterm">
			<action name="Execute">
				<command>xterm</command>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Thunderbird">
			<action name="Execute">
				<command>thunderbird</command>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
		<item label="Opera">
			<action name="Execute">
				<command>opera</command>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<command>google-chrome-stable</command>
			</action>
		</item>
	</menu>
	<menu id="apps-office-menu" label="OpemOffice">
		<item label="OpenOffice Base">
			<action name="Execute">
				<command>ooffice -base</command>
			</action>
		</item>
		<item label="OpenOffice Writer">
			<action name="Execute">
				<command>ooffice -writer</command>
			</action>
		</item>
		<item label="OpenOffice Calc">
			<action name="Execute">
				<command>ooffice -calc</command>
			</action>
		</item>
		<item label="OpenOffice Draw">
			<action name="Execute">
				<command>ooffice -draw</command>
			</action>
		</item>
		<item label="OpenOffice Impress">
			<action name="Execute">
				<command>ooffice -impress</command>
			</action>
		</item>
		<item label="OpenOffice Math">
			<action name="Execute">
				<command>ooffice -math</command>
			</action>
		</item>
	</menu>
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="VLC Player">
			<action name="Execute">
				<command>vlc</command>
			</action>
		</item>
	</menu>
	<menu id="apps-graphics-menu" label="Graphics">
		<item label="Gimp">
			<action name="Execute">
				<command>gimp</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="Settings">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Openbox Menu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Customize Look and Feel">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<item label="Xfce Power Manager Settings">
			<action name="Execute">
				<command>xfce4-power-manager-settings</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Tint2 Panel Settings">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<item label="Sound Settings">
			<action name="Execute">
				<command>pavucontrol</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="apps-accessories-menu"/>
		<menu id="apps-editors-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-office-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="apps-term-menu"/>
		<menu id="apps-fileman-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<command>slimlock</command>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<command>systemctl poweroff</command>
				<prompt>Do you really want to shutdown?</prompt>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<command>systemctl reboot</command>
				<prompt>Do you really want to reboot?</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
